#screen{
    background-color: lightgray;
    border-radius: 5px;
    font-size: larger;
    text-align: right;
    justify-content: center;
    padding-right: 10px;
    height:30px;
    line-height: 30px;
}

#calculatorItself{
    width:400px;
    Height:600px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

#topButtons{
    display:flex;
    justify-content: stretch;
}

.gridButtons{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:5px;
}

.opButton{
    background-color: cadetblue;
}

button {
    flex: 1 1 auto;
    margin:5px;
    transition-duration: .2s;
}

button:hover{
    background-color:whitesmoke;
    color:indigo
}