#screen{
    background-color: lightgray;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    height:20px;
}

#calculatorItself{
    width:400px;
    Height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#topButtons{
    display:flex;
    justify-content: stretch;
}

.gridButtons{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:5px;
}

button {
    flex: 1 1 auto;
    margin:5px;
}